body {
    background-color: #2a9d8f;
}

/*-------------------PRODOTTI-----------------------*/
.green {
    margin: 0px;
    padding-top: 250px;
    padding-bottom: 100px;
    background-color: #2a9d8f;
}

.header_miele {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#acacia img {
    height: 50%;
}

.stile-card {
    margin: auto;
    width: 80%;
    height: 60%;
}

/*------------------------------------------------------------------media queries------------------------------------------------------------*/

@media (max-width: 576px) {
    .stile-card {
        margin: auto;
        width: 100%;
        height: 100%;
    }
}